<div class="searchMain mt-2 mb-2 container">
    <div class="row pt-2">
        <div class="left col-md-3">
            <div class="slide_item" tabindex="-1" style="width:100%;display:inline-block">
                <a class="slick-slide-link" aria-label="Nạp Đồng Tốt" itemprop="url" href="">
                    <img class="iconmain" alt="Nạp Đồng Tốt" src="~/Assset/Pront/images/sao.jpg" />
                    <span class="">Ưu đãi</span>
                </a>
            </div>
        </div>
        <div class="left col-md-3">
            <div class="slide_item" tabindex="-1" style="width:100%;display:inline-block">
                <a class="slick-slide-link" aria-label="Nạp Đồng Tốt" itemprop="url" href="#">
                    <img class="iconmain" alt="Nạp Đồng Tốt" src="~/Assset/Pront/images/dt.jpg" />
                    <span class="">Nạp Đồng</span>
                </a>
            </div>
        </div>
        <div class="left col-md-3">
            <div class="slide_item" tabindex="-1" style="width:100%;display:inline-block">
                <a class="slick-slide-link" aria-label="Nạp Đồng Tốt" itemprop="url" href="#">
                    <img class="iconmain" alt="Nạp Đồng Tốt" src="~/Assset/Pront/images/tim.jpg" />
                    <span class="">Tin rao đã lưu</span>
                </a>
            </div>
        </div>
        <div class="left col-md-3">
            <div class="slide_item" tabindex="-1" style="width:100%;display:inline-block">
                <a class="slick-slide-link" aria-label="Nạp Đồng Tốt" itemprop="url" href="#">
                    <img class="iconmain" alt="Nạp Đồng Tốt" src="~/Assset/Pront/images/vong.jpg" />
                    <span class="">Vòng quay may mắn</span>
                </a>
            </div>
        </div>
    </div>
   
</div>