@using  Ecommerce.Data.Entities
@using Microsoft.AspNetCore.Identity
@inject UserManager<AppUser> UserManager
@model ProductViewModel
@{
    ViewData["Title"] = "Home Page";
}

@section scripts{
    <script src="~/Assset/Pront/Home.js"></script>
    <script>

        myHome.currentUserName = "@User.Identity.Name";
        var baseUrl = "@Url.Content("~/")";
        myHome.load();
    </script>
}
<div id="myHome">
    <partial name="_SearchingMain" />
    <div>
        <span class="pl-2">Mới đăng</span><i class="text-danger fa fa-refresh pl-2" aria-hidden="true"></i>
    </div>


    <div class="row text-center">
        <product v-for="item in product"
                 :key="item.id"
                 :linkhref="'/productdetail/' + item.id"
                 :imagepath="item.images[0].imagePath"
                 :productuser="item.productUserName"
                 :name="item.name"
                 :detail="item.detail"
                 :price="item.price"
                 :province="item.provinceName"
                 :district="item.districtName"
                 :state="item.stateName">
        </product>

    </div>
    <input v-if="productModel.index*productModel.size<productModel.count" type="button" value="Load more..." class="btn btn-loadmore d-flex justify-content-center align-items-center container" v-on:click.prevent="LoadMoreItem()" />
</div>

